/* ==== GRID SYSTEM ==== */
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.row {
    position: relative;
    width: 100%;
}

.row [class^="col"] {
    float: left;
    min-height: 0.125rem;
}

.col-1, .col-2,
.col-3, .col-4,
.col-5, .col-6,
.col-7, .col-8,
.col-9, .col-10,
.col-11,.col-12 {
    width: 100%;
}

.col-1-m {
    width: 8.33%;
}

.col-2-m {
    width: 16.66%;
}

.col-3-m {
    width: 25%;
}

.col-4-m {
    width: 33.33%;
}

.col-5-m {
    width: 41.66%;
}

.col-6-m {
    width: 50%;
}

.col-7-m {
    width: 58.33%;
}

.col-8-m {
    width: 66.66%;
}

.col-9-m {
    width: 75%;
}

.col-10-m {
    width: 83.33%;
}

.col-11-m {
    width: 91.66%;
}

.col-12-m {
    width: 100%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
    .container {
        width: 95%;
    }
}

@media only screen and (min-width: 45em) {  /* 720px */
    .col-1-t {
        width: 8.33%;
    }

    .col-2-t {
        width: 16.66%;
    }

    .col-3-t {
        width: 25%;
    }

    .col-4-t {
        width: 33.33%;
    }

    .col-5-t {
        width: 41.66%;
    }

    .col-6-t {
        width: 50%;
    }

    .col-7-t {
        width: 58.33%;
    }

    .col-8-t {
        width: 66.66%;
    }

    .col-9-t {
        width: 75%;
    }

    .col-10-t {
        width: 83.33%;
    }

    .col-11-t {
        width: 91.66%;
    }

    .col-12-t {
        width: 100%;
    }

    .navbar a {
        text-decoration:none;
        color: #000;
        font-weight: lighter;
    }

}

@media only screen and (min-width: 60em) { /* 960px */
    .container {
        width: 85%;
        max-width: 62rem;
    }

    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }

    .text p {
        padding-left: 5rem;
        padding-right: 5rem;
    }

}

@media only screen and (min-width: 75em) {
    /* 1200px
    * Pas obligatoire mais peut etre utile
    */

    .col-1-l {
        width: 8.33%;
    }

    .col-2-l {
        width: 16.66%;
    }

    .col-3-l {
        width: 25%;
    }

    .col-4-l {
        width: 33.33%;
    }

    .col-5-l {
        width: 41.66%;
    }

    .col-6-l {
        width: 50%;
    }

    .col-7-l {
        width: 58.33%;
    }

    .col-8-l {
        width: 66.66%;
    }

    .col-9-l {
        width: 75%;
    }

    .col-10-l {
        width: 83.33%;
    }

    .col-11-l {
        width: 91.66%;
    }

    .col-12-l {
        width: 100%;
    }

}

.btn-grad {background-image: linear-gradient(to right, #ffffff 0%, #FFFFFF  51%, #ECE9E6  100%)}
.btn-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #f5d038;
    /*box-shadow: 0 0 20px #eee;*/
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #f5d038;
    text-decoration: none;
}

/* MENU */
.navbar {
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:10px;
    font-size:1.1rem;
    /* background:#f73775; */
    color:#fff;
    padding-left: 1.5rem;
    height: 4.5rem;
    /*  box-shadow: inset 0 -2px 5px rgb(0 0 0 / 33%); */
}

.navbar a {
    text-decoration:none;
    color: #fff;
    font-weight: lighter;
}

.navbarmark a{
    background-color: #db2d64;
    color: #fff;
    font-weight: bolder;
    padding: 0.9rem;
    border-radius: 1em;
}

.navbar__links {
    display:flex;
    z-index: 2;
    align-items: center;
}

.navbar__logo {
    z-index: 2;
    color: #342828;
    font-weight: bolder;
}

.navbar__logo img {
    width: 50%;
}
.navbar__link {
    padding:0 10px;
    list-style-type: none;
}
.burger {
    display:none;
}

/*  Small device */

.navbar__links {
    display:flex;
    flex-direction:column;
    width:0;
    height:calc(100vh - 65px);
    position:absolute;
    top:90px;
    right:0;
    background:#000000b3;
    transition: all .5s ease-in-out;
    overflow: hidden;
}
.show-nav .navbar__links {
    width:100vw;
    transform: translateX(0);
    z-index: 2;
}
.navbar__link {
    transform: translateX(101%);
    transition: all .5s ease-in-out;
}
.show-nav .navbar__link  {
    transform: translateX(0);
}
.navbar__link > a {
    display:block;
    padding:1rem;
    font-size:1.6rem;
    transition: all .4s ease-in-out;
}
.navbar__link > a:hover {
    padding-left:2rem;
    letter-spacing:5px;
}

/* Toggle menu */
.burger {
    display:block;
    position:relative;
    padding:0;
    width: 93px;
    height: 50px;
    cursor:pointer;
    margin-top: 1rem;
    z-index: 2;
}
.bar::before, .bar::after {
    content:"";
    width:30px;
    height:4px;
    position:absolute;
    left:0;
    background:#000;
    transition: all .5s ease-in-out;
    margin-top: 1em;
}
.bar::before {
    transform:translateY(-12px)
}
.show-nav .bar::before {
    transform:rotate(45deg);
}
.show-nav .bar::after {
    transform:rotate(-45deg);
}

#loader {
    width: 60px;
    height: 60px;
    margin-top: 17em;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #48c2bc00;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#load {
    background-image: linear-gradient(to right, #f73775 0%, #db2d64  51%, #f73775  100%);
    min-height: 102vh;
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    margin-top: -6rem;
    z-index: 2;
}

.navbarmark {
    margin: 1em;
    list-style-type: none;
}
