/* ==== GRID SYSTEM ==== */
* {
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
}
.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.container-bis {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.mgt-5{
    margin-top: 5rem;
}

.row {
    position: relative;
    width: 100%;
}

.row [class^="col"] {
    float: left;
    min-height: 0.125rem;
}

.col-1, .col-2,
.col-3, .col-4,
.col-5, .col-6,
.col-7, .col-8,
.col-9, .col-10,
.col-11,.col-12 {
    width: 100%;
}

.col-1-m {
    width: 8.33%;
}

.col-2-m {
    width: 16.66%;
}

.col-3-m {
    width: 25%;
}

.col-4-m {
    width: 33.33%;
}

.col-5-m {
    width: 41.66%;
}

.col-6-m {
    width: 50%;
}

.col-7-m {
    width: 58.33%;
}

.col-8-m {
    width: 66.66%;
}

.col-9-m {
    width: 75%;
}

.col-10-m {
    width: 83.33%;
}

.col-11-m {
    width: 91.66%;
}

.col-12-m {
    width: 100%;
}

.hidden-m {
    display: none;
}

@media only screen and (max-width: 45em) {  /* 720px */
    .hidden-max {
        display: none;
    }
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.btn-grad {background-image: linear-gradient(to right, #ffffff 0%, #FFFFFF  51%, #ECE9E6  100%)}
.btn-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #f5d038;
    /*box-shadow: 0 0 20px #eee;*/
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #f5d038;
    text-decoration: none;
}

.h1-block h1{
    text-align: center;
    font-weight: 900;
    padding: 1em 0px 0.5em 0;
    text-transform: capitalize;
    color: #db2d64;
}
.h2-block h1 {
    font-size: 1rem;
    margin-top: 3em;
}
.h2-block h2 {
    text-align: center;
    font-weight: 600;
    padding: 1em 0 1em 0;
    text-transform: capitalize;
}

.h2-block h3 {
    text-align: center;
    font-weight: 300;
    padding: 1em 0 1em 0;
    text-transform: capitalize;
    font-size: 16px;
}

/* MENU */
.navbar {
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:10px;
    font-size:1.1rem;
    /* background:#f73775; */
    color:#fff;
    padding-left: 1.5rem;
    height: 4.5rem;
    /*  box-shadow: inset 0 -2px 5px rgb(0 0 0 / 33%); */
}

.navbar a {
    text-decoration:none;
    color: #fff;
    font-weight: lighter;
}

.navbarmark a{
    background-color: #db2d64;
    color: #fff;
    padding: 0.9rem;
    border-radius: 1em;
}

.navbar__links {
    display:flex;
    z-index: 2;
    align-items: center;
}

.navbar__logo {
    z-index: 2;
    color: #342828;
    font-weight: bolder;
}

.navbar__logo img {
    width: 50%;
}
.navbar__link {
    padding:0 10px;
    list-style-type: none;
}
.burger {
    display:none;
}

/*  Small device */

.navbar__links {
    display:flex;
    flex-direction:column;
    width:0;
    height:100rem;
    position:absolute;
    top:67px;
    right:0;
    background:#000000b3;
    transition: all .5s ease-in-out;
    overflow: hidden;
}
.show-nav .navbar__links {
    width:100vw;
    transform: translateX(0);
    z-index: 2;
}
.navbar__link {
    transform: translateX(101%);
    transition: all .5s ease-in-out;
}
.show-nav .navbar__link  {
    transform: translateX(0);
}
.navbar__link > a {
    display:block;
    padding:1rem;
    font-size:1.6rem;
    transition: all .4s ease-in-out;
}
.navbar__link > a:hover {
    padding-left:2rem;
    letter-spacing:5px;
}

/* Toggle menu */
.burger {
    display:block;
    position:relative;
    padding:0;
    width: 93px;
    height: 50px;
    cursor:pointer;
    margin-top: 1rem;
    z-index: 2;
}
.bar::before, .bar::after {
    content:"";
    width:30px;
    height:4px;
    position:absolute;
    left:0;
    background:#000;
    transition: all .5s ease-in-out;
    margin-top: 1em;
}
.bar::before {
    transform:translateY(-12px)
}
.show-nav .bar::before {
    transform:rotate(45deg);
}
.show-nav .bar::after {
    transform:rotate(-45deg);
}

#loader {
    width: 60px;
    height: 60px;
    margin-top: 17em;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #48c2bc00;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#load {
    background-image: linear-gradient(to right, #f73775 0%, #db2d64  51%, #f73775  100%);
    min-height: 102vh;
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    margin-top: -6rem;
    z-index: 2;
}
.navbarmark {

    margin: 1em;
    list-style-type: none;
}
.navbar-header {
    height: 70px;
    display: flex;
    align-items: center;
    margin: 0 1em 0 1em;
}
/* FOOTER */
#footer {
    background-color: #000;
    color: #fff;
    padding: 4em 4em 1em 4em;
}

#footer a {
    color: #fff;
    font-weight: 600;
}
.left-footer {
    display: flex;
    justify-content: center;
}
.left-footer img{
    width: 100%;
}
.right-footer li {
    list-style-type: none;
}

.copyright {
    margin-top: 2em;
    text-align: center;
}
/* CSS AUTH */

.border-shadow {
    box-shadow: 0 2px 40px rgb(0 0 0 / 8%);
    padding: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-group {
    display: flex;
    flex-direction: column;
}
.form-check, .form-remember {
    display: flex;
}
.form-group input {
    border: 0;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-bottom: 1px solid #d0d7e0;
    padding: 10px 0;
    margin: 0 0 20px;
    color: #1b1d1f;
    font-weight: 600;
    width: 100%;
}

.form-group-title {

}

.form-group-title input {
    color: #1a0dab;
}

.form-group-slug {

}

.form-group-slug input {
    color: #202124;
}
.btn-primary {
    padding: 18px 60px;
    width: 100%;
    margin-top: 34px;
    margin-bottom: 20px;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    font-weight: 800;
    cursor:pointer;
}

.btn-primary:hover {
    color :#000;
    background-color: #fff;
    border: 1px solid #000;
}

.btn-primary-ctg {
    padding: 0.1em 3em;
    width: 100%;
    margin-top: 34px;
    margin-bottom: 20px;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    font-weight: 800;
    cursor:pointer;
}

.btn-primary-ctg:hover {
    color :#000;
    background-color: #fff;
    border: 1px solid #000;
}

.seo-title {
    background-image: url("/image/svgexport-1.svg");
    color: #fff;
    padding: 1rem;
    margin: 1rem 0rem 2rem;
}

select {
    background-image: url("/image/svgexport-1.svg");
    color: #fff;
    padding: 1rem;
    margin: 1rem 0rem 2rem;
    border: none;
}
}
/*  PRODUITS  */
#addcart {
    color: #fff;
    background-color: #000;
    padding: 2.3em;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 1rem;
}

#addcart-product {
    color: #fff;
    background-color: #000;
    padding: 1.3em;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 1rem;
    margin: 1rem;
}

#addcart:hover {
    background-color: #fff;
    border: 1px solid #000;
    color:#000;
}

#addcart-product:hover {
    background-color: #fff;
    border: 1px solid #000;
    color:#000;
}

.br-title {
    text-transform: capitalize;
    margin: 5em 16px 17px 4px;
}
.block-right-other {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product-first-block {
    min-height: 380px;
    box-shadow: inset 0px -7px 68px 0px #0000004f;
    margin-bottom: 3em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.info-product {
    background-color: #db2d64;
    color: #fff;
    padding: 1em;
    border-radius: 1em 1em 1em 0;
}

.info-product p{
    font-size: 36px;
    font-weight: 600;
}

.description-product {
    padding: 1.7em;
}

.product-ctg {
    padding: 1.7em;
    background-color: #ddd;
    border-radius: 1em 1em 0 1em;
}

.product-ctg a {
    color: #000;
    font-weight: 600;
    font-size: 1rem;
}

.description-product a{
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    font-weight: 600;
}
.fp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.fp-wm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pb {
    padding-bottom: 2em;
}

#plus-product {
    padding: 2em 0 2em 0;
    min-height: 350px;
}
.card-product {
    margin-bottom: 3em;
    height: 167px;
}

.card-product-text {
    margin-bottom: 3em;
}

.product-block {
    box-shadow: 0 2px 40px rgb(0 0 0 / 8%);
    position: relative;
    height: 345px;
    display: flex;
    align-items: center;
}
.product-block span {
    -webkit-transition: all .5s cubic-bezier(.645,.045,.355,1);
    transition: all .5s cubic-bezier(.645,.045,.355,1);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background: #db2d64;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    padding: 1em 0em 1em 0em;
}

.product-block:hover span {
    visibility: visible;
    opacity: 1;
}

.product-block:hover {
    box-shadow: 0 30px 65px rgb(0 0 0 / 15%);
}

.product-block img {
    width: 100%;
}

#fixed-menu-mobile {
    position: fixed;
    bottom: -1px;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 2px 40px rgb(0 0 0 / 8%);
    z-index: 1;
}

.back-product {
    background: no-repeat;
    border: none;
    margin-left: 5rem;
}
/* HOME PAGE  */

.home-first-block {
    background-image: url("/image/svgexport-1.svg");
    background-repeat: no-repeat;
    background-position: center 33%;
    background-size: cover;
}

.category-block {
    box-shadow: 0 2px 40px rgb(0 0 0 / 8%);
    position: relative;
    min-height: 260px;
    border-radius: 1em 1em 0 0;
}
.category-block span {
    -webkit-transition: all .5s cubic-bezier(.645,.045,.355,1);
    transition: all .5s cubic-bezier(.645,.045,.355,1);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background: #db2d64;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    padding: 1rem 0rem 1em 0rem;
}

.category-block:hover span {
    visibility: visible;
    opacity: 1;
}

.category-block:hover {
    box-shadow: 0 30px 65px rgb(0 0 0 / 15%);
}

.category-block img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.category-block-home {
    box-shadow: 0 2px 40px rgb(0 0 0 / 8%);
    position: relative;
    min-height: 180px;
    border-radius: 1em 1em 0 0;
}
.category-block-home span {
    -webkit-transition: all .5s cubic-bezier(.645,.045,.355,1);
    transition: all .5s cubic-bezier(.645,.045,.355,1);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background: #db2d64;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    padding: 1rem 0rem 1em 0rem;
}

.category-block-home:hover span {
    visibility: visible;
    opacity: 1;
}

.category-block-home:hover {
    box-shadow: 0 30px 65px rgb(0 0 0 / 15%);
}

.category-block-home img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.category-text {
    padding: 1rem 0 1rem;
    color: #191919;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
}
.category-space {
    padding-right: 15px;
    padding-left: 15px;
}

#section-three {
    margin-top: 2rem;
}
.left-section-three {
    background-image: url("/image/homepage-addis.jpg");
    min-height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2rem 1rem 0 1rem;
}

.other-img {
    min-height: 350px;
    background: url("/image/seo-footer.png");
    margin: 0em 1em 0em 1em;
    background-position: center;
    background-size: contain;
}
.h2-block span {
    text-transform: capitalize;
    color: #db2d64;
    font-size: 2rem;
}

.svg-1 {
    position: absolute;
    top: -4rem;
    z-index: -2;
    transform: rotate(45deg);
    left: -5em;
}

.svg-2 {
    position: absolute;
    top: -6rem;
    z-index: -2;
    transform: rotate(-7deg);
    left: -2rem;
}

.svg-3 {
    position: absolute;
    top: -1rem;
    z-index: -2;
    transform: rotate(45deg);
}

.typings {
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.typings p {
    font-size: 3rem;
    padding: 0.5rem;
    font-weight: bold;
    color: #fff;
}
.typings p span.typed-text {
    font-weight: 600;
    color: #db2d64;
    background-color: #fff;
    padding: 0.5rem;
}

.typings p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}
.typings p span.cursor.typing {
    animation: none;
}
@keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
}

.right-section-three {
    padding: 1rem;
}

.h3-block h3 {
    text-align: left;
    font-weight: 600;
    padding: 1em 0 1em 0;
    text-transform: capitalize;
    font-size: 23px;
}

.item-block {
    margin-top: 3rem;
    text-align: center;
}

.item-block-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-block-img span {
    margin-top: 0.3rem;
}
/* RESPONSIVE */

@media only screen and (min-width: 33.75em) {  /* 540px */
    .container {
        width: 90%;
    }
    .container-bis {
        width: 95%;
    }
}

@media only screen and (min-width: 45em) {  /* 720px */
    .col-1-t {
        width: 8.33%;
    }

    .col-2-t {
        width: 16.66%;
    }

    .col-3-t {
        width: 25%;
    }

    .col-4-t {
        width: 33.33%;
    }

    .col-5-t {
        width: 41.66%;
    }

    .col-6-t {
        width: 50%;
    }

    .col-7-t {
        width: 58.33%;
    }

    .col-8-t {
        width: 66.66%;
    }

    .col-9-t {
        width: 75%;
    }

    .col-10-t {
        width: 83.33%;
    }

    .col-11-t {
        width: 91.66%;
    }

    .col-12-t {
        width: 100%;
    }

    .hidden-t {
        display: none;
    }
    .fp-t {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }

    .navbar a {
        text-decoration:none;
        color: #fff;
        font-weight: lighter;
    }
}

@media only screen and (min-width: 60em) { /* 960px */
    .container {
        max-width: 62rem;
    }

    .container-bis {
        max-width: 72rem;
    }

    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }

    .text p {
        padding-left: 5rem;
        padding-right: 5rem;
    }

}

@media only screen and (min-width: 75em) {
    /* 1200px
    * Pas obligatoire mais peut etre utile
    */

    .col-1-l {
        width: 8.33%;
    }

    .col-2-l {
        width: 16.66%;
    }

    .col-3-l {
        width: 25%;
    }

    .col-4-l {
        width: 33.33%;
    }

    .col-5-l {
        width: 41.66%;
    }

    .col-6-l {
        width: 50%;
    }

    .col-7-l {
        width: 58.33%;
    }

    .col-8-l {
        width: 66.66%;
    }

    .col-9-l {
        width: 75%;
    }

    .col-10-l {
        width: 83.33%;
    }

    .col-11-l {
        width: 91.66%;
    }

    .col-12-l {
        width: 100%;
    }

    .left-footer img{
        width: 100%;
    }

}
