/* ==== GRID SYSTEM ==== */

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.container-all {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.row {
    position: relative;
    width: 100%;
}


.row [class^="col"] {
    float: left;
    min-height: 0.125rem;
}


.col-1, .col-2,
.col-3, .col-4,
.col-5, .col-6,
.col-7, .col-8,
.col-9, .col-10,
.col-11,.col-12 {
    width: 100%;
}

.col-1-m {
    width: 8.33%;
}

.col-2-m {
    width: 16.66%;
}

.col-3-m {
    width: 25%;
}

.col-4-m {
    width: 33.33%;
}

.col-5-m {
    width: 41.66%;
}

.col-6-m {
    width: 50%;
}

.col-7-m {
    width: 58.33%;
}

.col-8-m {
    width: 66.66%;
}

.col-9-m {
    width: 75%;
}

.col-10-m {
    width: 83.33%;
}

.col-11-m {
    width: 91.66%;
}

.col-12-m {
    width: 100%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.hidden-m {
    display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
    .container {
        width: 80%;
    }
}

@media only screen and (min-width: 45em) {  /* 720px */
    .col-1-t {
        width: 8.33%;
    }

    .col-2-t {
        width: 16.66%;
    }

    .col-3-t {
        width: 25%;
    }

    .col-4-t {
        width: 33.33%;
    }

    .col-5-t {
        width: 41.66%;
    }

    .col-6-t {
        width: 50%;
    }

    .col-7-t {
        width: 58.33%;
    }

    .col-8-t {
        width: 66.66%;
    }

    .col-9-t {
        width: 75%;
    }

    .col-10-t {
        width: 83.33%;
    }

    .col-11-t {
        width: 91.66%;
    }

    .col-12-t {
        width: 100%;
    }

    .hidden-t {
        display: block;
    }
}

@media only screen and (min-width: 60em) { /* 960px */
    .container {
        width: 75%;
        max-width: 60rem;
    }

    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }

    .hidden {
        display: block;
    }
}


@media only screen and (min-width: 75em) {
    /* 1200px
    * Pas obligatoire mais peut etre utile
    */

    .col-1-l {
        width: 8.33%;
    }

    .col-2-l {
        width: 16.66%;
    }

    .col-3-l {
        width: 25%;
    }

    .col-4-l {
        width: 33.33%;
    }

    .col-5-l {
        width: 41.66%;
    }

    .col-6-l {
        width: 50%;
    }

    .col-7-l {
        width: 58.33%;
    }

    .col-8-l {
        width: 66.66%;
    }

    .col-9-l {
        width: 75%;
    }

    .col-10-l {
        width: 83.33%;
    }

    .col-11-l {
        width: 91.66%;
    }

    .col-12-l {
        width: 100%;
    }

    .hidden-l {
        display: block;
    }
}
